.categories_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 5%;
    border-bottom: 1px solid #0C0058;
    .title {
        width: 100%;
        padding: 5px 0;
        font-size: 26px;
        text-align: center;
    }
    .categories_item {
        font-size: 20px;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &:hover {
            color: #FF6E6E;
        }
    }
}